
* {

    box-shadow: border-box;
  }
  
  .heading h1 {
    position:relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: infinite;*/
    
  }
  
  @keyframes heading {
    0% {top: -130px}
    100% {top: 30px}
  }
  
  
  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    width: 100%;
    background-color: #201b1a;
  }
  
  .cookie-inner {     
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
  }
  
  .cookie-copy { 
    margin-bottom: 16px;
  }
  
  .cookie-header {
    margin-bottom: 8px;
    color: #bec5c7;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  
  .cookie-description {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
  }
  
  .cookie-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
      
    border-radius: 2px;
    
    background-color: #631610;
     
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .cookie-consent-banner__cta--secondary { 
    padding: 9px 13px;
    
    border: 2px solid #3A4649;
    
    background-color: transparent;
    
    color: #631610;
  }
  
  .cookie-consent-banner__cta:hover {
    background-color: #631610;
  }
  
  .cookie-consent-banner__cta--secondary:hover {
    border-color: #b7bbbc;
      
    background-color: transparent;
    
    color: #631610;
  }
  
  .cookie-consent-banner__cta:last-child {
    margin-left: 16px;
  }
  
  .cookie-banner {
    opacity: 0;
    display: inline-block;
    animation: cookie;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes cookie {
    0% {opacity: 0;}
    100% {opacity: 1}
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  
  
  .up {
    position: relative;
    animation: up;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes up {
    0% {right: -1000px;}
    85% {right: 60px}
    100% {right: 40px}
  }